:root{
  /* Primary */

--purple: hsl(259, 100%, 65%);
--light-red: hsl(0, 100%, 67%);

/* Neutral */

--white: hsl(0, 0%, 100%);
--off-white: hsl(0, 0%, 94%);
--light-grey: hsl(0, 0%, 86%);
--smokey-grey: hsl(0, 1%, 44%);
--off-black: hsl(0, 0%, 8%);

/* Typography */

/* Body  Copy*/

/* --Font-size-input: 32px; */

/* Font */

/* --Family: (https://fonts.google.com/specimen/Poppins)
--Weights: 400i, 700, 800i */
}

@import url(https://fonts.google.com/specimen/Poppins);

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins, sans-serif;
}
